/*الصفحة الرئيسية*/

@media screen and (min-width : 670px){
.Main_Img{
  width: 100%;
  background-image: url("Media/Img_2.png");
  background-size: cover;
  background-position: right;
  height: 70vh;
}
.Menu_content{
  font-size: 100%;
  padding: 1% 10%;
}
.Why_3awn_Title{
  font-size: 45px;
}
._3awn_About{
  display: flex;
  justify-content: center;
}
._3awn_About_text h2{
  font-size: 40px;
}
._3awn_Provides_Ligne{
  display: flex;
  justify-content: space-between;
}
.Question_line{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
  float: right;
  padding: 0% 8%;
  align-items: flex-start;
}
.EmailSection_And_WebTitle{
  padding: 0% 10%;
}
.Email{
  padding: 0% 25%;
}
/* Sign_in - تسجيل الدخول */
.sign{
  padding: 0% 10%;
  height: 100vh;
}
.sign_Img_Div{
  display: flex;
}
.two_{
  padding: 10% 5%;
}
.sign_form{
  padding: 5% 0%;
  width: 50%;
}
.sign_form h2{
  width: 82%;
}
.sign_form p{
  width: 80%;
}
.sign_input{
  width: 80%;
}
.sign_select{
  width: 80%;
}
.sign_button{
  width: 80%;
}
.create_account p , .create_account a{
  width: 50%;
}
/* الصفحة بعد التسجيل (Home) */

.Welcoming_img{
  width: 25%;
}
.Welcoming{
  margin: 5% 22%;
  width: 50%;
}
.Welcoming h2{
  font-size: 45px;
}
.Welcoming h4{
  font-size: 30px;
}
.games_section{
  display: flex;
}
.gamesSection_title{
  width: 35%;
}
.gamesSection_title h2{
  font-size: 30px;
}
.gamesSection_title h1{
  font-size: 35px;
}
.gamesSection_Content{
  width: 50%;
}
.aGame_Name{
  font-size: 25px;
}
.a_game p{
  font-size: 20px;
}
.NewsSection_title h2{
  font-size: 35px;
}
.search input[type="email"]{
  width: 55%;
  font-size: 15px;
}
#searchAccountType{
  width: 20%;
  font-size: 15px;
}
#searchAccountBtn{
  width: 20%;
  font-size: 15px;
}
.a_linkedAccount{
  width: 32.5%;
  overflow-x: auto;
}
.a_linkedAccount_email{
  font-size: 15px;
}
}

@media screen and (min-width : 100px) /* 300px min */ and (max-width : 524px){
.Main_Img{
  width: 100%;
  background-image: url("Media/Img_1.png");
  background-size: cover;
  background-position: 80%;
  height: 50vh;
}
.Menu_content{
  font-size: 14px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 1% 1%;
}
.logo{
  width: 200px;
}
.Why_3awn_Title{
  font-size: 35px;
}
._3awn_About_img{
  display: none;
}
._3awn_About_text{
  width: 100%;
}
._3awn_About_text h2{
  font-size: 35px;
}
._3awn_About_text p{
  font-size: 20px;
}
._3awn_Provides_Ligne_Title, ._3awn_Questions_Title{
  width: 100%;
}
._3awn_Provides_Ligne_Title{
  margin-top: -20%;
}
.A_provide{
  width: 100%;
  margin-top: 5px;
}
.Question{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.TheAnswer p{
  font-size: 18px;
}
.EmailSection_And_WebTitle{
  padding: 0% 5%;
}
.Email_Section{
  margin-top: 5px;
  margin-right: 15px;
}
.Web_Title{
  width: 40%;
}
.Web_Title h4{
  margin-top: 2%;
  font-size: 20px;
}
.Email_Section h3{
  font-size: 20px;
}
.Email{
  margin-top: 5px;
}
.Copyright p{
  font-size: 14px;
  width: 45%;
}

/* Sign_in - تسجيل الدخول */
.sign_Img , .sign_Img_Div{
  display: none;
}
.sign{
  min-height: 100vh;
  width: 90%;
}
.sign_form{
  padding: 0% 7%;
  width: 100%;
}
.sign_form p{
  width: 100%;
}
.sign_input{
  width: 100%;
}
.sign_select{
  width: 100%;
}
.sign_button{
  width: 100%;
}
.create_account p , .create_account a{
  text-align: center;
  width: 50%;
  font-size: 17px;
}

/* الصفحة بعد التسجيل (Home) */

.Welcoming_img{
  width: 50%;
}
.Welcoming{
  margin: 5% 43%;
  width: 50%;
}
.Welcoming h2{
  font-size: 25px;
}
.Welcoming h4{
  font-size: 20px;
}
.gamesSection_title{
  margin-right: 20px;
}
.gamesSection_title h2{
  font-size: 20px;
}
.gamesSection_title h1{
  font-size: 25px;
}
.gamesSection_Content{
  margin-top: 10px;
  margin-right: 20px;
}
.aGame_Name{
  font-size: 20px;
}
.a_game p{
  font-size: 16px;
}
.NewsSection_title h2{
  font-size: 25px;
}
.search input[type="email"]{
  width: 55%;
  font-size: 15px;
}
#searchAccountType{
  width: 20%;
  font-size: 15px;
}
#searchAccountBtn{
  width: 20%;
  font-size: 15px;
}
.a_linkedAccount{
  width: 32.5%;
  overflow-x: auto;
}
.a_linkedAccount_email{
  font-size: 15px;
}
}

@media screen and (min-width : 524px) and (max-width : 670px){
.Main_Img{
  width: 100%;
  background-image: url("Media/Img_1.png");
  background-size: cover;
  background-position: right;
  height: 50vh;
}
.Menu_content{
  font-size: 14px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 1% 1%;
}
.logo{
  width: 100%;
}
.Why_3awn_Title{
  font-size: 35px;
}
._3awn_About_img{
  display: none;
}
._3awn_About_text{
  width: 100%;
}
._3awn_About_text h2{
  font-size: 35px;
}
._3awn_About_text p{
  font-size: 20px;
}
._3awn_Provides_Ligne_Title, ._3awn_Questions_Title{
  width: 100%;
}
._3awn_Provides_Ligne_Title{
  margin-top: -20%;
}
.A_provide{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 10px;
}
.Question{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.TheAnswer p{
  font-size: 18px;
}
.EmailSection_And_WebTitle{
  padding: 0% 5%;
}
.Email_Section{
  margin-top: 5px;
  margin-right: 15px;
}
.Web_Title{
  width: 40%;
}
.Web_Title h4{
  margin-top: 2%;
  font-size: 20px;
}
.Email_Section h3{
  font-size: 20px;
}
.Email{
  margin-top: 5px;
}
.Copyright p{
  font-size: 14px;
  width: 45%;
}
/* Sign_in - تسجيل الدخول */
.sign_Img , .sign_Img_Div{
  display: none;
}
.sign{
  min-height: 100vh;
  width: 90%;
}
.two_{
  padding: 10% 0%;
}
.sign_form{
  padding: 0% 7%;
  width: 100%;
}
.sign_form p{
  width: 100%;
}
.sign_input{
  width: 100%;
}
.sign_select{
  width: 100%;
}
.sign_button{
  width: 100%;
}
.create_account p , .create_account a{
  text-align: center;
  width: 50%;
  font-size: 17px;
}
/* الصفحة بعد التسجيل (Home) */

.Welcoming_img{
  width: 50%;
}
.Welcoming{
  margin: 5% 43%;
  width: 50%;
}
.Welcoming h2{
  font-size: 25px;
}
.Welcoming h4{
  font-size: 20px;
}
.gamesSection_title{
  margin-right: 20px;
}
.gamesSection_title h2{
  font-size: 20px;
}
.gamesSection_title h1{
  font-size: 25px;
}
.gamesSection_Content{
  margin-top: 10px;
  margin-right: 20px;
}
.aGame_Name{
  font-size: 20px;
}
.a_game p{
  font-size: 16px;
}
.NewsSection_title h2{
  font-size: 25px;
}
.search input[type="email"]{
  width: 55%;
  font-size: 15px;
}
#searchAccountType{
  width: 20%;
  font-size: 15px;
}
#searchAccountBtn{
  width: 20%;
  font-size: 15px;
}
.a_linkedAccount{
  width: 32.5%;
  overflow-x: auto;
}
.a_linkedAccount_email{
  font-size: 15px;
}

}