@font-face{
  font-family: 'الخط الأساسي';
  src: url(Media/الخط.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'الخط الأساسي';
}


a{
  text-decoration: none;
  color: inherit;
}

body{
  font-family: 'الخط الأساسي';
  display: block;
  font-size: 18px;
  color: #333333;
  font-weight: 400;
}

.Menu{
  width: 100%;
  background-color: #fbfbfb;
}
.Menu_content{
  direction: rtl;
  width :100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo{
  width: 100%;
}

.Options{
  display: flex;
  align-items: center;  
  justify-content: center;
}

.Option{
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  transition: all 0.3s ease;
}


.Option:hover{
  color: #6bb245;
}

.Home{
  align-items: center;
  margin: none;
  display: flex;
  height: 4vh;
  width: fit-content;
}

.Home_icon{
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  width: 3.4vh;
  height: 3.4vh;
}

.sign_up{
  margin-right: 4%;
  width: 20%;
}

.sign_up_button{
  cursor: pointer;
  direction: ltr;
  color: white;
  background-color: #fab414;
  transition: all 0.3s ease;
  border-style: none;
  border-radius: 20px;
}

.sign_up_button:hover{
  background-color: #d99b0e;
}

.sign_up_button_content{
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.sign_up_button p{
  font-size: 15px;
}

.sign_up_icon{
  margin-left: 3px;
  margin-bottom: 3.5%;
  width: 15%;
  height: 15%;
}

.Why_3awn_Title{
  color: #000000;
}

.Main_Img{
  width: 100%;
  background-image: url("Media/Img_2.png");
  background-size: cover;
  background-position: right;
  height: 70vh;
}

._3awn_About{
  margin-top: -20px;
  padding: 30px;
  direction: rtl;
  align-items: anchor-center;
}


._3awn_About_img{
  margin-left: 1%;
  width: 35%;
}

._3awn_About_img_img{
  width: 95%;
  height: fit-content;
  border-radius: 30px;
}

._3awn_About_text{
  direction: rtl;
  font-size: 20px;
  width: 60%;
  margin-bottom: 50px;
}

._3awn_About_text h2{
  color: #14415a;
}
._3awn_About_text p{
  margin-top: 1px;
  margin-right: 1px;
  font-size: 1.7vw;
}
.highlight{
  background: linear-gradient(120deg, #ffd700 0%, #ffd700 100%);
  background-repeat: no-repeat;
  background-size: 100% 40%;
  background-position: 0 90%;
}

._3awn_Provides{
  align-items: center;
  margin-top: 1%;
}

._3awn_Provides_Ligne{
  padding: 0 8%;
  direction: rtl;
  align-items: center;
  margin-bottom: 1%;
}

._3awn_Provides_Ligne_Title , ._3awn_Questions_Title {
  width: 33%;
  align-items: center;
}

._3awn_Provides h2 , ._3awn_Questions_Title h2{
  color: #14415a;
  font-size: 40px;
}
.Line{
  background-color: #6bb245;
  width: 20%;
  height: 5px;
}
.Line2{
  background-color: #6bb245;
  width: 30%;
  margin-top: -3%;
  height: 5px;
}
.A_provide{
  width: 32.5%;
}

._3awn_Questions_Title{
  float: right;
  margin-right: 8%;
}

.Question_line{
  margin-top: 2%;
  direction: rtl;
  margin-bottom: 2%;
}

.Question_line{
  margin-bottom: 2%;
  float: right;
  padding: 0% 8%;
  align-items: flex-start;
}

.Question{
  color: white;
  width: 32%;
}

.TheQuestion{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding: 5px 5px;
  background-image: linear-gradient(to top, #14415a, #1c5979);
  position: relative;
}
.TheQuestion p {
  margin-right: 20px;
  font-size: 22px;
}
.TheQuestion::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 20px;
  width: 15px;
  height: 15px;
  background-color: #14415a;
  transform: rotate(45deg);
}

.TheAnswer{
  border-radius: 15px;
  padding: 5px 5px;
  background-image: linear-gradient(to right, #d99b0e, #d99c0ee1);

  margin-top: 8px;
}
.TheAnswer p {
  padding: 10px 20px;
  font-size: 22px;
}

.TheAnswer_Icon{
  margin-left: 2%;
  width: 7%;
}

/* قسم الفوتر - الليلة دي فرح يا جدعان :) */

.Footer{
  display: block;
  text-align: center;
  color: #ffffff;
  background-color: #14415a;
  width: 100%;
  float: right;
}

.EmailSection_And_WebTitle{
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.Web_Title{
  width: 20%;
}

.WebTitle_3awn h2{
  direction: rtl;
  font-size: 35px;
  color: white;
  text-align: left;
}
.Web_Title h4{
  direction: rtl;
  margin-top: -10%;
  font-size: 25px;
  color: white;
  text-align: right;
}

.Email_Section{
  width: 60%;
}


.Email{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Email input[type="email"]{
  padding: 10px 10px;
  text-align: right;
  border-style: none;
  border-radius: 0px;
  background-color: white;
  color: gray;
  height: 40px;
  width: 70%;
}
.Email button{
  cursor: pointer;
  background-color: #d99b0e;
  border-style: none;
  color: white;
  height: 40px;
  width: 30%;
}


.Copyright{
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

/* تسجيل الدخول لعون */

.sign{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.sign_Img_Div{
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;

}
.sign_Img{
  width: 100%;
}
.sign_form{
  line-height: normal;
  direction: rtl;
}
.sign_form p{
  margin-top: 1%;
  font-size: 20px;
  color: gray;
}
.chosen_Account_Option_Div{
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}
.chosen_Account_Option{
  display: flex;
}
.Chosen , .Not_Chosen {
  color: black;
  cursor: pointer;
  border-style: none;
  font-size: 20px;
  padding: 1.25% 1.25%;
}
.Chosen{
  background-color: #ffd700;
}
.Not_Chosen{
  background-color: #e0e0e0;
}

.sign_input{
  margin-top: 1%;
  border-left: none;
  height: 40px;
  border-right: none;
  border-top: none;
  border-bottom: solid 2px #d99b0e;
  padding: 10px 10px;
  font-size: 18px;
}
.sign_input:focus{
  outline: none;
  border-bottom: solid 2px gray;
}
.sign_select{
  margin-top: 1%;
  border-left: none;
  height: 40px;
  border-right: none;
  border-top: none;
  border-bottom: solid 2px #d99b0e;
  /*width: 80%;*/
  font-size: 17px;
}
.sign_agree{
  /*width: 80%;*/
  margin-top: 2%;
}
.sign_button{
  cursor: pointer;
  background-color: #fab414;
  border-style: none;
  color: white;
  font-size: 18px;
  height: 40px;
  /*width: 80%;*/
  margin-top: 2%;
}
.create_account{
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  display: flex;
  /*width: 80%;*/
  margin-top: 2%;
}
.create_account p{
  color: black;
  width: fit-content;
}

/* الصفحة بعد التسجيل */
.Welcoming_full{
  direction: rtl;
  float: right;
}
.Welcoming{
  position: absolute;
  direction: rtl;
  z-index: 1;
}
.Welcoming h2{
  color: #14415a;
}
.Welcoming h4{
  color: gray;
}
.Welcoming_img{
  position: relative;
}
.sections{
  float: right;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.section{
  background-color: white;
  padding: 2% 2%;
  border-radius: 25px;
  margin: 1%;
}
.games_div{
  width: 50%;
}
.news_div{
  width: 75%;
}
.news_div ul{
  text-decoration: dotted;
  direction: rtl;
  color: black;
}
.new_li{
  margin-top: 0.5%;
}
.section img{
  width: 70px;
}
.section h4{
  direction: rtl;
  margin-top: 1%;
  text-align: right;
  font-size: 25px;
}
.section_games{
  direction: rtl;
  font-size: 20px;
  float: right;
}
.more{
  font-size: 20px;
  cursor: pointer;
  direction: ltr;
  color: #d99b0e;
}
.section_news {
  height: 415px;
  padding: 0px 10px;
  overflow: auto;
  float: right;
}
.section_news::-webkit-scrollbar {
  width: 12px;
}


.section_news::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 12px;
}

.news{
  margin-top: 1%;
  direction: rtl;
  float: right;
  border-radius: 5px;
  color: white;
}

.games_section{
  margin-bottom: 2%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  float: right;
}
.gamesSection_title{
  text-align: right;
}
.gamesSection_title h2{
  color: black;
}
.gamesSection_title h1{
  color: #14415a;
}
.gamesSection_Content{
  margin-left: 5%;
}
.games{
  padding: 2% 3%;
  background-image: url(Media/Gradient_3awn.png);
  background-size: 100% 57vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}
.a_game{
  cursor: pointer;
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.395);
  margin-top: 2.5%;
  padding: 2% 2%;
  border-radius: 15px;
  margin-left: 2%;
  margin-right: 2%;
  background-color: rgba(255, 255, 255, 0.605);
  transition: all 0.3s ease;
}
.a_game:hover{
  background-color: white;
}
.aGame_icon{
  border-radius: 50%;
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.215);
  width: 60%;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}
.aGame_Name{
  margin-top: 10%;
  color: black;
  text-align: center;
}
.a_game p{
  margin-top: 5px;
  margin-bottom: 25%;
  direction: rtl;
  text-align: center;
}

/* قسم الأخبار */

.NewsSection_title h2 {
  color: white;
}

.NewsSection_title p{
  color: white;
  font-size: 20px;
}
.News{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.New{
  cursor: pointer;
  display: flex;
  margin-left: 1%;
  margin-right: 1%;
  justify-content: center;
  align-items: flex-start;
  padding: 0% 2%;
  direction: rtl;
  background-position: center;
  background-size: 100%;
  width: 15%;
  height: 40vh;
  background-repeat: no-repeat;
}
.New h4{
  margin-top: 40%;
  color: black;
}
.One{
  background-image: url(Media/Sticker5.png);
}
.Two{
  background-image: url(Media/Sticker6.png);
}
.Three{
  background-image: url(Media/Sticker7.png);
}




/* شات */



#accountLinkingSection{
  margin: 20px;
  background: white;
  border-radius: 25px;
  padding: 20px;
  display: none;
  width: 90% 
}
#accountLinkingSection h2{
  text-align: center;
  color: #d99b0e;
  margin-bottom: 35px;
}
.accountLinkingSection_search{
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.accountLinkingSection_search h3{
  color: #14415a;
  margin-bottom: 15px;
  font-size: 25px;
}
.search{
  margin-bottom: 10px;
  width: 100%;
}
.search input[type="email"]{
  padding: 20px 20px;
  text-align: right;
  border-style: none;
  border-radius: 0px;
  /*font-size: 20px;*/
  border-bottom: solid 2px #d99b0e;
  background-color: white;
  color: gray;
  height: 50px;
  /*width: 70%;*/
}
#searchAccountType{
  border-left: none;
  height: 50px;
  border-right: none;
  /*width: 15%;*/
  border-top: none;
  border-bottom: solid 2px #d99b0e;
  /*font-size: 20px;*/
}
#searchAccountBtn{
  cursor: pointer;
  background-color: #fab414;
  border-style: none;
  /*width: 14%;*/
  color: white;
  /*font-size: 20px;*/
  height: 50px;
}
.a_result{
  width: 45%;
  border: solid 2px #d99b0e;
  border-radius: 12px;
  padding: 2% 2%;
}
.result_name{
  width: fit-content;
  font-size: 25px;
}
.result_type{
  font-size: 20px;
}
.askingForPassword{
  font-size: 20px;
}
#linkPassword{
  width: 70%;
  padding: 20px 20px;
  text-align: right;
  border-style: none;
  border-radius: 0px;
  font-size: 15px;
  border-bottom: solid 2px #d99b0e;
  background-color: white;
  color: gray;
  height: 10px;
  width: 70%;
}
#linkAccountBtn{
  cursor: pointer;
  background-color: #fab414;
  border-style: none;
  width: 20%;
  color: white;
  font-size: 15px;
  height: 42px;
}
.Linked_Accounts{
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}
.Linked_Accounts h3{
  color: #14415a;
  margin-bottom: 15px;
}
#linkedAccountsList{
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#linkedAccountsList p{
  text-align: center; color: #999;
}
.a_linkedAccount{
  display: block;
  background: white;
  background-color: transparent;
  /*width: 33%;*/
  margin-bottom: 10px;
  border: solid 2px #d99b0e;
  border-radius: 12px;
  padding: 2% 2%;
  justify-content:
  space-between;
  align-items: center;
}
.a_linkedAccount_name{
  color: #14415a;
  text-align: center;
  font-size: 18px;
}
.a_linkedAccount_email{
  color: #666;
  margin: 5px 0;
  text-align: center;
}
.a_linkedAccount_type{
  background: #d99b0e;
  color: white;
  padding: 3px 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
}


#ChatSection{
  margin: 20px;
  background: white;
  border-radius: 25px;
  padding: 20px;
  width: 90%;
}
.ChatSection_Title{
  text-align: center;
  color: #d99b0e;
}
.conversationsList_Title{
  color: #14415a;
  font-size: 25px;
  margin-bottom: 10px;
}
#conversationsContainer{
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  background: #f9f9f9;
}
#conversationsContainer p{
  text-align: center;
  color: #999;
}





#currentChatInfo{
  margin-bottom: 10px;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 10px;
  display: none;
}
#chatPlaceholder{
  color: gray;
}
.Note{
  background-color: #b24545;
  border-radius: 12px;
  padding: 2%;
  margin-bottom: 20px;
  color: white;
  width: 80%;
}