@font-face{
  font-family: 'الخط الأساسي';
  src: url(Media/الخط.ttf);
}


body {
    font-family: الخط الأساسي;
    text-align: center;
}

hr {
    width: 500px;
}

#error {
    color: coral;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#digits {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


.number {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: gray;
}

.tile-start {
    background-color: whitesmoke;
}

.h-line {
    border-bottom: 1px solid black;
}

.v-line {
    border-right: 1px solid black;
}